* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background: black;
}
body {
    
}

.header {
    height: 40vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    width: 140px;
}

.nav-links {
    padding: 28px 0;
    left: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.welcome_text{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50% -50%);
    text-align: justify;
    color: white;
}

.welcome_text .greeting{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.welcome_text h1{
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.welcome_text h4{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.welcome_text a{
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    
}

.profile{
    position: absolute;
    left: 0;
    width: 500px;
}